* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
  }

  body{
    height: 100vh;
  }

  main{
    background-color: lightskyblue;
    text-align: center;
    justify-items: center;
    height: 85%;
    padding-top: 25px;
  }

  #containerTablas {
    display: flex;
    justify-content: center; /* Opcional: centra las tablas horizontalmente */
    align-items: flex-start; /* Alinea arriba ambas tablas */
    gap: 40px; /* Espacio entre tablas */
  }  

  td {
    user-select: none;
  }

  #pos1{
    background-color: rgb(216, 201, 118);
    color: rgb(121, 92, 21);
  }
  #pos2{
    background-color: rgb(168, 168, 168);
    color: rgb(77, 77, 77);
  }
  #pos3{
    background-color: rgb(216, 154, 118);
    color: rgb(146, 80, 33);
  }

  h1{
    margin-bottom: 60px;
    color: rgb(54, 59, 104);
    padding: 10px;
    border: 3px solid rgb(54, 59, 104);
    border-radius: 5px;
  }

  h3{
    color: aliceblue;
    padding: 30px;
    font-size: 30px;
  }
  
  .inactiva{
    display: none;
  }

  footer{
    background-color: rgb(54, 59, 104);
    height: 15%;
    position: relative;
  }

  table {
    text-align: center;
    margin-bottom: 40px;
  }
  main div:nth-of-type(1){
    display: inline-block;
    margin-bottom: 20px;
  }

  .oculto{
    display: none;
  }

  td {
    width: 35px;
    height: 35px;
    border: 2px solid rgb(54, 59, 104);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    background-color: aliceblue;
  }

  span{
    display: block;
    margin: 10px;
  }

  .adivinada{
    text-decoration: line-through 2px;
  }

  td:hover{
    background-color: lightgreen;
  }

  .cronometro{
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
  }

  #palabras{
    background-color: aliceblue;
    border: 2px solid rgb(54, 59, 104);
    height: 520px;
    width: 300px;
    border-radius: 5px;
  }

  .selected{
    background-color: green;
  }

  .marcada{
    background-color: blueviolet;
  }
  
  .correcta{
    background-color: lightgreen;
  }
  
  .incorrecta{
    background-color: lightcoral;
  }

  .selected2{
    background-color: lightseagreen;
  }

  .numero {
    background-color: rgb(206, 206, 206);
    font-weight: bold;
  }

  #reloj{
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
    right: 0;
    padding: 30px;
    top: 0;
  }